{% extends 'base.html' %} 
{% load static %} 
{% block content %}
<div class="row mt-t">
  <div class="col-md-3">
    {% include 'sidebar.html' %}
  </div>
  <section class="row col-md-9" id="latest">
    <h2 class="text-center m-5">Our products</h2>
    {% for p in products %}
    <div class="col-lg-4 col-md-3">
      <div class="card">
        <a href="/products/details/{{p.id}}">
          <img src="/media/{{p.image}}" class="card-img-top" alt="..." />
        </a>
        <div class="card-body">
          <h5 class="card-title">{{p.name}}</h5>
          <p class="card-text">Nrs. {{p.price}}</p>
          <a href="#" class="btn btn-primary">
            <i class="bi bi-cart"></i>
          </a>
          <a href="{% url 'aw' pid=p.id %}" class="btn btn-danger">
            <i class="bi bi-heart"></i>
          </a>
        </div>
      </div>
    </div>
    {% endfor %}
  </section>
</div>

{% endblock %}
